<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
    </Found>
    <NotFound>
        <LayoutView>
            <p>Sayfa bulunamadı. Ana sayfaya yönlendiriliyor...</p>
        </LayoutView>
    </NotFound>
</Router>


