#sidebar[b-3h09rfbuzc] {
    min-width: 15rem;
    max-width: 15rem;
    transition: transform 0.1s ease-out;
    height: 100%;
    max-height: 100%;
    display: block;
    background: inherit;
}

.logo[b-3h09rfbuzc] {
    text-align: center;
}

[b-3h09rfbuzc] .menu.display-mobile {
    margin-bottom: 2rem;
}

[b-3h09rfbuzc] .menu.display-iam {
    margin-bottom: 2rem;
}

[b-3h09rfbuzc] .menu {
    background-color: inherit;
}

    [b-3h09rfbuzc] .menu .dxbl-menu-item-list {
        gap: 0.5rem;
    }

[b-3h09rfbuzc] .menu-item {
    color: var(--bs-white);
}

[b-3h09rfbuzc] .icon {
    width: 1rem;
    height: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 0.5rem;
}

[b-3h09rfbuzc] .home-icon {
    background-image: url("images/home.svg");
}

[b-3h09rfbuzc] .weather-icon {
    background-image: url("images/weather.svg");
}

[b-3h09rfbuzc] .counter-icon {
    background-image: url("images/counter.svg");
}

[b-3h09rfbuzc] .settings-icon {
    background-image: url("images/account/settings.svg");
}

[b-3h09rfbuzc] .log-in-icon {
    background-image: url("images/account/log-in.svg");
}

[b-3h09rfbuzc] .log-out-icon {
    background-image: url("images/account/log-out.svg");
}

[b-3h09rfbuzc] .user-icon {
    background-image: url("images/account/user.svg");
}

@media (max-width: 768px) {
    #sidebar[b-3h09rfbuzc] {
        min-width: inherit;
        max-width: inherit;
        display: block;
    }

    .logo[b-3h09rfbuzc] {
        text-align: inherit;
    }
}